* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  font-family: var(--font-inter);
  color: var(--color-main-dark);
}

body {
  display: flex;
  justify-content: center;
  align-self: center;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font: inherit;
  background: none;
  border: 0;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  font-weight: 400;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 24px;
}


p {
  font-size: 24px;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

input {
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  background: none;
  box-shadow: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  font: inherit;
}

input:focus {
  outline: none;
  box-shadow: none;
}

input:target {
  border: none;
}

.base__container {
  padding: 0 40px;
  max-width: 1920px;
  margin: 0 auto;
  width: 100%;
}

.section-gap {
  margin-top: 114px;
}

