.hdr {
    position: relative;
    overflow: hidden;
    padding-top: 10px;
    width: 100%;
    color: var(--color-main-dark);
}

.hdr>* {
    position: relative;
    z-index: 2
}

.hdr__swiper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.hdr__swiper-slide {
    background-size: cover;
    background-position: center;
    width: 100%;
}

.hdr__swiper-pagination {
    bottom: 40px;
    text-align: end;
}

.hdr__swiper-pagination>* {
    transform: translateY(-20px);
}

.hdr__nav {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    color: var(--color-main-dark);
    font-size: 16px;
}

.hrr__nav-logo {
    display: flex;
    align-items: center;
    width: 117px;
}

.hdr__nav-list {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

.hdr__nav-list li {
    display: block;
}

/* контейнер дропдауна */
nav .dropdown {
    position: relative;
    display: block;
}

/* кнопка-активатор сверху */
nav .dropdown__toggle {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 6px;
}

/* стрелочка */
nav .dropdown__chevron {
    font-size: 12px;
}

/* выпадающее меню */
nav .dropdown__menu {
    position: absolute;
    top: 100%;
    left: 0;
    padding: 5px 5px;
    background: rgba(255, 255, 255, 0.2);
    /* полупрозрачный фон */
    backdrop-filter: blur(12px);
    /* размытие фона */
    -webkit-backdrop-filter: blur(16px);

    display: none;
    /* скрыто по умолчанию */
}

/* показываем по ховеру */
nav .dropdown:hover .dropdown__menu {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* обычный пункт */
nav .dropdown__item {
    padding: 6px 0;
    cursor: pointer;
}

/* первый пункт-«заголовок» можно сделать чуть бледнее */
nav .dropdown__item--title {
    opacity: 0.8;
}

/* маленькая стрелочка справа */
nav .dropdown__arrow {
    font-size: 14px;
}

/* ховер для пунктов */
nav .dropdown__item:not(.dropdown__item--accent):hover {
    padding: 8px 12px;
    background: #fff;
    color: #000;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hdr__nav-contacts {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}


.extra__nav>span {
    opacity: 0.5;
}


.product {
    margin-top: 70px;
    display: grid;
    gap: 20px;
    grid-template-columns: 0.34fr 0.48fr 0.18fr;
}

.product__wrap-hdr-div {
    margin-top: 114px;
    display: flex;
    gap: 20px;
    align-items: end;
}

.hdr__h1 {
    font-family: var(--font-roboto);
    width: 100%;
}

.hdr__h1>span {
    font-size: 40px;
}

.product__wrap-hdr-div>a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: rgba(236, 234, 229, 1);
    width: 100%;
    transform: translateY(-10px);
    padding: 0 7%;
}


.product__wrap-img {
    margin-top: 90px;
    background-image: url('../assets/img/catalogItem/1.png');
    height: 360px;
    display: flex;
    justify-content: end;
    align-items: end;
    padding: 15px 15px;
}

.product__wrap-slider {
    background-image: url('../assets/img/catalogItem/2.png');
    background-size: auto 100%;
}

.product__wrap-gallery {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.product__wrap-gallery-item {
    background-image: url('../assets/img/catalogItem/2.png');
    height: 100%;
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.5;
}

.product__mobile {
    display: none;
}


.product__wrap-gallery-item-selected {
    opacity: 1;
}

.stats {
    margin-top: 110px;
    display: flex;
    gap: 8px;
}

.stats__left {
    width: 42%;
}

.stats__left-busket {
    width: 80%;
    background-color: var(--color-main-dark);
    color: var(--color-main-white);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin-top: 100px;
}

.stats__left-a-wrap {
    margin-top: 15px;
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.stats__left-a-wrap-a {
    width: 48%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border: 1px solid var(--color-main-dark);
}

.stats__left-a-wrap-left {
    justify-content: space-between;
    padding: 0 7%;
}

.stats__left-a-wrap-left-img {
    height: 18px;
    width: 18px;
}

.stats__left-p {
    font-size: 40px;
    line-height: 110%;
}

.stats__right {
    width: calc(58% - 8px);
}

.stats__right-switch {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    height: 75px;
}

.stats__right-switch-wrap {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-roboto);
    font-size: 24px;
    padding: 8px 0;
    text-align: center;
}

.stats__right-switch-wrap-selected {
    width: 70%;
    padding: 8px 55px;
    background-color: rgba(236, 234, 229, 1);
}

.stats__right-info {
    margin-top: 20px;
    background-color: rgba(236, 234, 229, 1);
    display: flex;
    padding: 40px 50px;

}

.stats__right-col {
    width: 100%;
}


.stats__note {
    opacity: 0.5;
    font-size: 14px;
}

.stats__unit {
    opacity: 0.5;
    font-size: 18px;
}

.stats__row {
    display: flex;
    align-items: end;
    margin-bottom: 30px;
}

.statsRowFirst {
    align-items: start;
}

.stats__label {
    opacity: 0.5;
}

.stats__value {
    margin-left: 18px;
    font-size: 24px;
}

.stats__row-item {
    margin-top: 12px;
}


.stats__right-right {
    border-left: 1px solid rgba(0, 0, 0, 0.2);
}

.statsRowRight>div {
    width: 100%;
    display: flex;
}

.statsRowRightLeft {
    justify-content: flex-end;
}

.statsRowRightRight {
    justify-content: flex-start;
}

.stats__download {
    display: flex;
    align-items: center;
    text-decoration: underline;
}

.stats__download-icon {
    margin-left: 5px;
}

.statsMobile {
    display: none;
}

.colorInsideLink{
    height: 55px;
    width: 444px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    border: 1px solid var(--color-main-dark);
}
.colorInside{
    margin-top: 110px;
}

.colorInsideHdr{
    width: 653px;
    font-family: var(--font-roboto);
}
.article {
    margin-top: 125px;
    display: flex;
    gap: 20px;
}

.article__wrapper {
    width: 100%;
}

.article__wrapper>img {
    width: 100%;
}

.article__wrapper-info {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.article__wrapper>h2 {
    font-family: var(--font-roboto);
}

.article__wrapper-bottom>p {
    font-size: 18px;
}

.article__wrapper-bottom>a {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    font-size: 18px;
    max-width: 290px;
    padding: 20px 0;
    background-color: var(--color-main-dark);
    color: var(--color-main-white);
    text-decoration: none;
}

.calculation {
    display: flex;
    background-color: rgba(236, 234, 229, 1);
    margin: 0 -40px;
    margin-top: 110px;
    padding: 0 40px;
}

.calculation>div {
    width: 100%;
}

.calculation__leftWrap {
    display: flex;
    align-items: center;
    justify-content: start;
}

.calculation__leftWrap>h3 {
    font-size: 24px;
    font-family: var(--font-roboto);
}

.calculation__img {
    background-image: url('/assets/img/catalog/calculation.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
}

.calculation__rigthWrap {
    padding: 24px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

.calculation__rigthWrap>a {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 1);
    width: 100%;
    height: 44px;
}

.calculation__rigthWrap-black {
    background-color: var(--color-main-dark);
    color: var(--color-main-white);
}

.footer__wrap {
    display: flex;
    justify-content: space-between;
    padding-top: 110px;
}

.footer__links {
    display: flex;
    width: 100%;
    gap: 20%;
}

.footer__links-wrap h4 {
    font-family: var(--font-inter);
    margin-bottom: 20px;
    font-size: 16px;
}

.footer__links-wrap ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 14px;
}

.footer__links-wrap ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer__links-wrap li {
    color: rgba(30, 30, 30, 0.8);
}

.footer__contacts {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 100%;
}

.footer__contacts-wrap {
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
}

.footer__contacts-a {
    width: 290px;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.footer__contacts-order {
    margin-right: 20px;
    border: 1px solid;
}

.footer__contacts-tel {
    background-color: rgba(236, 234, 229, 1);
}

.footer__contacts-wrap-img-mobile {
    display: none;
}

.footer__policy {
    margin-top: 20px;
    padding: 20px 0;
    color: rgba(30, 30, 30, 0.5);
    display: flex;
    border-top: 1px solid rgba(30, 30, 30, 0.5);
}

.footer__policy-wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer__policy p {
    font-size: 12px;
}

@media (max-width: 1920px) {}

@media (max-width: 1650px) {
    .base__container {
        padding: 0 20px;
    }

    .hdr__nav {
        font-size: 14px;
    }

    .hdr__nav-list {
        gap: 20px;
    }

    .article__wrapper-bottom>a {
        margin-top: 30px;
        font-size: 16px;
    }

    .product__wrap-hdr-div {
        flex-direction: column;
    }

    .product__wrap-hdr-div>a {
        transform: translateY(-10px);
    }

}

@media (max-width: 1480px) {
    .stats__right-switch-wrap {
        font-size: 14px;
    }

    .stats__left-p {
        font-size: 32px;
    }
}

@media (max-width: 1250px) {
    .base__container {
        padding: 0 10px;
    }

    .hdr__nav {
        font-size: 12px;
    }

    .hdr__nav-list {
        gap: 5px;
    }

    .hdr__h1 {
        width: auto;
        font-size: 48px;
    }

    .hdr__h3 {
        font-size: 24px;
        width: auto;
    }

    .footer__links {
        flex-direction: column;
        gap: 40px;
    }

    .footer__contacts {
        height: 100%;
    }

    .footer__contacts-wrap {
        flex-direction: column;
        gap: 10px;
    }

    .footer__contacts-a {
        width: 165px;
    }

    .footer__contacts-wrap-img-mobile {
        display: block;
    }

    .footer__contacts-wrap-img-desc {
        display: none;
    }


    .cards {
        grid-template-columns: 1fr 1fr;
    }

    .cards__card {
        height: 450px;
    }

    .article__wrapper-info {
        width: 100%;
    }

    .article__wrapper-info>h2 {
        font-size: 32px;
    }

    .article__wrapper-bottom>p {
        width: 100%;
        margin-top: 30px;
        font-size: 14px;
    }

    .article__wrapper-bottom>a {
        width: 100%;
        max-width: 100%;
        margin-top: 30px;
        font-size: 14px;
    }

    .calculation_br {
        display: none;
    }

    .stats {
        flex-direction: column;
        gap: 40px;
    }

    .stats__left {
        width: 100%;
    }

    .stats__left-busket {
        width: 100%;
    }

    .stats__left-a-wrap {
        width: 100%;
    }

    .stats__right {
        width: 100%;
    }
}

@media (max-width: 900px) {

    .hdr__nav-list,
    .hdr__nav-contacts {
        display: none;
    }

    .product {
        display: none;
    }

    .product__mobile {
        display: flex;
        flex-direction: column;
    }

    .product__mobile-nav {
        margin-top: 35px;
        font-size: 10px;
    }

    .product__mobile-nav>span {
        opacity: 0.5;

    }

    .product__mobile-slider {
        margin-top: 30px;
        height: 345px;
        background-image: url('../assets/img/catalogItem/1.png');
        padding: 15px;
        display: flex;
        justify-content: end;
    }

    .product__mobile-slider>a {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 15px;
        width: 150px;
        font-size: 12px;
        height: 36px;
        border: 1px solid var(--color-main-dark);
    }

    .product__mobile-slider-img {
        height: 18px;
        width: 18px;
    }

    .product__wrap-gallery {
        display: flex;
        flex-direction: row;
        gap: 15px;
        margin-top: 15px;
    }

    .product__mobile-wrap-gallery-item {
        background-image: url('/assets/img/catalogItem/2.png');
        height: 120px;
        background-position: center;
        width: 100%;
        background-size: 100% auto;
        background-repeat: no-repeat;
    }

    .product__mobile-wrap-hdr {
        margin-top: 15px;
    }

    .product__mobile-wrap-hdr-div {
        display: flex;
        justify-content: space-between;
        align-items: end;
        gap: 15px;
    }

    .product__mobile-wrap-hdr-h1 {
        font-size: 32px;
        font-family: var(--font-roboto);
        width: 100%;
    }

    .product__mobile-wrap-hdr-a {
        margin-left: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 40px;
        background-color: rgba(236, 234, 229, 1);
        padding: 0 15px;
        font-size: 14px;
    }

    .article {
        flex-direction: column;
    }

    .article__wrapper-info {
        width: 100%;
    }

    .article__wrapper-info>h2 {
        font-size: 32px;
    }

    .article__wrapper-bottom>p {
        width: 100%;
        margin-top: 30px;
        font-size: 14px;
    }

    .article__wrapper-bottom>a {
        width: 100%;
        max-width: 100%;
        margin-top: 30px;
        font-size: 14px;
    }

    .calculation {
        flex-direction: column;
        gap: 25px;
        padding: 70px 10px;
        margin: 0 -10px;
        margin-top: 110px;
    }


    .calculation__img {
        height: 270px;
    }

    .calculation__rigthWrap {
        padding: 0;
    }
}

@media (max-width: 650px) {

    .base__container {
        padding: 0 5px;
    }

    .hdr__h1 {
        font-size: 36px;
    }

    .hdr__h3 {
        font-size: 18px;
    }

    .hdr__btn {
        width: 100%;
        font-size: 14px;
    }

    .constructor__filters {
        display: none;
    }

    .footer__policy-hide {
        display: none;
    }

    .footer__policy-wrap-right {
        justify-content: flex-end;
    }

    .calculation {
        margin: 0 -5px;
        padding: 70px 5px;
        margin-top: 110px;
    }

    .cards__card {
        height: 240px;
        background-position: center;
        background-size: auto 100%;
        background-repeat: no-repeat;
    }

    .cards__card-material {
        width: 65px;
        height: 55px;
    }

    .cards__card-link {
        padding: 3px 10px;
        width: 100%;
        left: 0;
        bottom: 0;
    }

    .cards__card-link>p {
        font-size: 14px;
    }

    .cards__card-link>img {
        height: 20px;
    }

    .stats {
        display: none;
    }

    .statsMobile {
        display: block;
    }

    .statsMobile {
        margin-top: 45px;
        font-family: var(--font-inter);
        background: #fff;
    }

    .statsMobileHeader {
        font-size: 26px;
        font-family: var(--font-roboto);
        margin-bottom: 15px;
    }

    .statsMobileList {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    /* строка */
    .statsMobileRow {
        display: grid;
        grid-template-columns: auto 1fr auto;
        align-items: center;
        gap: 8px;
    }

    /* текст слева */
    .statsMobileLabel {
        color: rgba(30, 30, 30, 0.5);
        font-size: 14px;
    }

    /* пунктир */
    .statsMobileDots {
        border-bottom: 1px dashed rgba(0, 0, 0, 0.3);
        transform: translateY(2px);
    }

    /* значение */
    .statsMobileValue {
        font-size: 14px;
        font-weight: 400;
        white-space: nowrap;
    }

    /* единицы */
    .statsMobileUnit {
        font-size: 12px;
        opacity: 0.6;
    }

    /* ссылка на скачивание */
    .statsMobileDownload {
        margin-top: 10px;
        font-size: 13px;
        color: #000;
        text-decoration: underline;
        display: inline-flex;
        align-items: center;
        gap: 6px;
    }

    .statMobileBtns {
        margin-top: 40px;
    }

    .statMobileBtnsText {
        font-size: 16px;
        width: 100%;
    }

    .statMobileBtnsLink {
        width: 100%;
        height: 44px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .statMobileBtnsLinkDark {
        background-color: var(--color-main-dark);
        color: var(--color-main-white);
        margin-top: 50px;
    }

    .statMobileBtnsLinkLight {
        border: 1px solid var(--color-main-dark);
        margin-top: 15px;
    }
}

/* Дебаг обводка */
/* * {
    border: 1px solid red;
} */