/* шапка */
/* шапка */
/* шапка */
/* шапка */
/* шапка */
/* шапка */
.hdr {
    color: var(--color-main-white);
    margin: 0 -40px;
    padding: 0 40px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 3;
    position: absolute;
    left: 40px;
    max-width: 1920px;
    width: 100%;
}

.hdrNav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: var(--color-main-white);
    font-size: 16px;
}

.hdrNavLogo {
    display: flex;
    width: 117px;
}

.hdrNavList {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

.hdrMobile {
    display: none;
}

.hdrNavList li {
    display: block;
}

/* контейнер дропдауна */
nav .hdrDropdown {
    position: relative;
    display: block;
}

/* кнопка-активатор сверху */
nav .hdrDropdownToggle {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 6px;
}

/* выпадающее меню */
nav .hdrDropdownMenu {
    position: absolute;
    top: 100%;
    left: 0;
    padding: 5px 5px;
    background: rgba(255, 255, 255, 0.2);
    /* полупрозрачный фон */
    backdrop-filter: blur(12px);
    /* размытие фона */
    -webkit-backdrop-filter: blur(16px);

    color: #fff;
    display: none;
    /* скрыто по умолчанию */
}

/* показываем по ховеру */
nav .hdrDropdown:hover .hdrDropdownMenu {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* обычный пункт */
nav .hdrDropdownItem {
    padding: 6px 3px;
    cursor: pointer;
    height: 35px;
}

/* первый пункт-«заголовок» можно сделать чуть бледнее */
nav .hdrDropdownItemTitle {
    opacity: 0.8;
}

/* маленькая стрелочка справа */
nav .dropdown__arrow {
    font-size: 14px;
}

/* ховер для пунктов */
nav .hdrDropdownItem:not(.hdrDropdownItem--accent):hover {
    background: #fff;
    color: #000;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hdrNavContacts {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}



/* Баннер слайдер */
/* Баннер слайдер */
/* Баннер слайдер */
/* Баннер слайдер */
/* Баннер слайдер */
/* Баннер слайдер */
/* Баннер слайдер */

.hdrBanner {
    margin: 0 -40px;
    position: relative;
    overflow: hidden;

}

.hdrText {
    color: var(--color-main-white);
    padding: 0 40px;
}


.hdrSwiper {
    width: 100vw;
    height: 850px;
    z-index: 0;
}

.hdrSwiper-slide img {
    width: 100%;
    height: auto;
}

.hdrSwiperSlide1 {
    background-image: url("../assets/img/headerSlides/1.png");
}

.hdrSwiperSlide2 {
    background-image: url("../assets/img/headerSlides/2.png");
}

.hdrSwiperSlide3 {
    background-image: url("../assets/img/headerSlides/3.png");
}

.hdrSwiperSlide {
    background-size: cover;
    background-position: center;
    width: 100%;
}

.hdrSwiperPagination {
    bottom: 40px;
    text-align: end;
}

.hdrSwiper-pagination>* {
    transform: translateY(-20px);
}

.swiper-pagination-wrapper {
    display: flex;
}

.hdrSwiperPagination2 {
    color: var(--color-main-white);
    position: absolute;
    bottom: 15px;
    right: 165px;
    z-index: 2;
}

.swiper-pagination-bullet {
    width: 32px;
    border-radius: 0;
    height: 1px;
}

.swiper-pagination-bullets {
    bottom: 0;
    transform: translateX(-40px);
}

.swiper-pagination-bullet-active {
    background-color: var(--color-main-white);
}


.hdrH1 {
    font-family: var(--font-roboto);
    margin-top: 285px;
    width: 878px;
}

.hdrH3 {
    margin-top: 50px;
    font-family: var(--font-inter);
    width: 434px;
}

.hdrBtn {
    width: 445px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    padding: 29px 0px;
    background-color: var(--color-main-white);
    color: var(--color-main-dark);
    font-family: var(--font-inter);
    font-size: 18px;
    line-height: 90%;
    text-decoration: none;
}

.welcome {
    display: flex;
    justify-content: space-between;
}

.welcomeH2 {
    color: var(--color-main-dark);
    width: 818px;
    opacity: 50%;
    font-family: var(--font-roboto);
}

.welcome__p {
    width: 902px;
    font-size: 44px;
}


.newItemsGrid1 {
    background-image: url('../assets/img/newItems/bg1.png');
}

.newItemsGrid2 {
    background-image: url('../assets/img/newItems/bg2.png');
}

.newItemsH2Span {
    font-family: var(--font-roboto);
    font-style: italic;
}



.newItemsGridTextDivNumb {
    font-size: 24px;
}

.newItemsGridTextDivText {
    font-size: 60px;
}


.newItemsGrid1TextDiv {
    padding-bottom: 50px;
}

.newItemsGrid2-textDiv {
    padding-top: 150px;
}

.newItemsGrid2-textDiv a {
    display: flex;
    margin-top: 100px;
    border: 1px solid;
    justify-content: center;
    width: 100%;
    padding: 19px 0;
}

.newItemsGrid2ImgDiv {
    justify-content: flex-start;
}



.newItemsGrid2ImgWrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.newItemsBtn {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
    border: 1px solid var(--color-main-dark);
    padding: 27px 0;
    font-size: 18px;
}

.newCollectionH2 {
    display: block;
    padding-left: 308px;
    font-weight: 500;
    margin-bottom: 30px;
}

.newCollectionH2 span {
    font-family: var(--font-roboto);
    font-style: italic;
    font-weight: 300;
}

.newCollectionContent {
    width: 100%;
    color: var(--color-main-white);
}

.newCollectionContentWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
}

.newCollectionContentWrap h3 {
    transform: rotate(-90deg);
    transform-origin: center;
    font-size: 60px;
    font-family: var(--font-roboto);
}

.newCollectionContentWrap span {
    font-family: var(--font-roboto);
    opacity: 65%;
    font-size: 18px;
    position: relative;
    top: -35px;
}


.newCollectionContent1 {
    background-image: url("../assets/img/newCollection/bg1.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: 100%;
    height: 802px;
    padding-top: 374px;
    padding-left: 40px;
}

.newCollectionContent1 h3 {
    color: var(--color-main-white);
    font-family: var(--font-roboto);
    font-size: 60px;
}

.newCollectionContent1 span {
    opacity: 65%;
    font-size: 18px;
    position: relative;
    top: -35px;
    font-family: var(--font-inter);
}

.newCollectionContent1 a {
    display: flex;
    justify-content: center;
    width: 250px;
    padding: 28px 0;
    margin-top: 224px;
    background-color: var(--color-main-white);
    color: var(--color-main-dark);
    text-decoration: none;
}

.newCollectionContent2 {
    background-image: url("../assets/img/newCollection/bg2.png");
    width: 100%;
}

.newCollectionContent3 {
    background-image: url("../assets/img/newCollection/bg3.png");
    width: 100%;
}

.inspirationHdr {
    display: flex;
    align-items: end;
    width: 100%;
}

.inspiration {
    position: relative;
    overflow: hidden;
}



.inspirationHdrH2 {
    display: flex;
    font-family: var(--font-roboto);
    width: 100%;
}

.inspirationHdrRight {
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 100%;
}

.inspirationHdrP {
    display: flex;
    width: 340px;
}

.inspirationBrMobile {
    display: none;
}


.inspirationHdrA {
    display: flex;
    justify-content: center;
    width: 444px;
    padding: 20px 0;
    background-color: var(--color-main-dark);
    color: var(--color-main-white);
    text-decoration: none;
}

.inspirationContent {
    margin-top: 30px;
    background-image: url("../assets/img/inspiration/bg.png");
    height: 580px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 30px 20px;
    color: var(--color-main-white);
}

.inspirationContentCard {
    display: flex;
    background-color: rgba(0, 0, 0, 0.15);
    background-color: blur(10px);
    padding: 15px;
}

.inspirationContentCardText {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.inspirationContentCardText p {
    font-size: 12px;
}

.inspirationContentCardText h4 {
    font-size: 18px;
    font-family: var(--font-roboto);
    font-weight: 400px;
    margin-top: 13px;
}

.inspirationContentCardText a {
    font-size: 14px;
    text-decoration: underline;
}

.inspirationContentCardImg {
    width: 100%;
}

.inspirationContentSliderArrows {
    display: flex;
    gap: 15px;
    position: absolute;
    bottom: 40px;
    right: 40px;
    z-index: 2;
}

.inspirationContentSliderArrows div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    cursor: pointer;
}

.inspirationContentSliderArrowsLeft {
    background-color: rgba(134, 134, 134, 1);
}

.inspirationContentSliderArrowsRight {
    background-color: rgba(236, 234, 229, 1)
}


.newsBlog {
    position: relative;
    overflow-x: hidden;
}

.newsBlogH2 {
    font-family: var(--font-roboto);
}

.newsBlogSliderWrapper {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.newsBlogSwiper {
    position: relative;
    overflow-x: hidden;
}

.newsBlogLinks {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.newsBlogSwiperSlide {
    height: 100%;
}

.newsBlogLinksBtn {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    width: 290px;
    background-color: rgba(236, 234, 229, 1);
}

.newsBlogLinks button:hover {
    opacity: 0.7;
}

.newsBlogLinksSelected {
    background-color: var(--color-main-white);
    border-bottom: 1px solid var(--color-main-dark);
}

.newsBlogSwiperHide {
    display: none;
}

.newsBlogArticles {
    border: 1px solid rgba(0, 0, 0, 0.5);
    width: 100%
}

.newsBlogArticlesCardWrap {
    padding: 15px;
}

.newsBlogArticlesCardWrap p {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
}

.newsBlogArticlesCardWrap h4 {
    font-size: 24px;
    font-family: var(--font-roboto);
    font-weight: 400;
    margin-top: 15px;
}

.newsBlogArticlesCardWrap a {
    margin-top: 36px;
    width: 158px;
    padding: 10px 0;
    background-color: rgba(236, 234, 229, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.newsBlogSliderArrows {
    z-index: 2;
    margin-top: 40px;
    display: flex;
    gap: 15px;
    width: 100%;
    justify-content: flex-end;
    cursor: pointer;
}

.newsBlogSliderArrows div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
}

.newsBlogSliderArrowsLeft {
    background-color: rgba(134, 134, 134, 1);
}

.newsBlogSliderArrowsRight {
    background-color: rgba(236, 234, 229, 1)
}

.newsBlogMobileLink {
    display: none;
}

.footerWrap {
    display: flex;
    justify-content: space-between;
    padding-top: 110px;
}

.footerLinks {
    display: flex;
    width: 100%;
    gap: 20%;
}

.footerLinksWrap h4 {
    font-family: var(--font-inter);
    margin-bottom: 20px;
    font-size: 16px;
}

.footerLinksWrap ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 14px;
}

.footerLinksWrap ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footerLinksWrap li {
    color: rgba(30, 30, 30, 0.8);
}

.footerContacts {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 100%;
}

.footerContactsWrap {
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
}

.footerContactsA {
    width: 290px;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.footerContactsOrder {
    margin-right: 20px;
    border: 1px solid;
}

.footerContactsTel {
    background-color: rgba(236, 234, 229, 1);
}

.footerContactsWrapImgMobile {
    display: none;
}

.footerPolicy {
    margin-top: 20px;
    padding: 20px 0;
    color: rgba(30, 30, 30, 0.5);
    display: flex;
    border-top: 1px solid rgba(30, 30, 30, 0.5);
}

.footerPolicyWrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footerPolicy p {
    font-size: 12px;
}

@media (max-width: 1760px) {
    .hdrNavList {
        gap: 20px;
    }

    .hdrNavContacts {
        margin-left: 20px;
    }
}

@media (max-width: 1650px) {
    .hdrBanner {
        margin: 0 -20px;
    }

    .hdr {
        left: 20px;
        margin: 0 -20px;
        padding: 0 20px;
    }

    .hdrNav {
        font-size: 14px;
    }

    .hdrText {
        padding: 0 20px;
    }

    .hdrNavList {
        gap: 10px;
    }

    .newCollectionH2 {
        padding-left: 0;
        display: flex;
        justify-content: center;
    }

    .inspirationHdr {
        justify-content: flex-start;
    }

    .welcome {
        display: none;
    }
}

@media (max-width: 1440px) {
    .newCollectionContent1 {
        background-size: auto 100%;
    }
}

@media (max-width: 1250px) {
    .hdrBanner {
        margin: 0 -10px;
    }

    .hdr {
        margin: 0 -10px;
        padding: 0 10px;
        left: 10px;
    }


    .hdrText {
        padding: 0 10px;
    }

    .hdrNavList,
    .hdrNavContacts {
        display: none;
    }

    .hdrNav {

        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .hdrNavLogo {
        display: flex;
    }

    .hdrMobile {
        display: flex;
        width: 63px;
        display: flex;
        justify-content: space-between;
    }

    .hdrMobile>img {
        cursor: pointer;
    }

    .hdrH1 {
        width: auto;
        font-size: 48px;
    }

    .hdrH3 {
        font-size: 24px;
        width: auto;
    }

    .newItemsH2 {
        font-size: 48px;
    }

    .newItemsGridTextDivNumb {
        font-size: 24px;
    }

    .newItemsGridTextDivText {
        font-size: 36px;
    }

    .inspirationContentSliderArrows {
        display: none;
    }


    .footerLinks {
        flex-direction: column;
        gap: 40px;
    }

    .footerContacts {
        height: 100%;
    }

    .footerContactsWrap {
        flex-direction: column;
        gap: 10px;
    }

    .footerContactsA {
        width: 165px;
    }

    .footerContactsWrapImgMobile {
        display: block;
    }

    .footerContactsWrapImgDesc {
        display: none;
    }

    .inspirationHdrWrap {
        display: none;
    }

    .inspirationHdrH2 {
        font-size: 48px;
    }

    .inspirationHdrRight {
        width: 100%;
        justify-content: flex-end;
    }

    .inspirationHdrP {
        display: inline;
        font-size: 18px;
        text-align: end;
    }

    .inspirationBrMobile {
        display: inline;
    }
}


@media (max-width: 900px) {
    .newsBlogSliderWrapper {
        flex-direction: column;
    }

    .newsBlogLinks {
        flex-direction: row;
        gap: 15px;
    }

    .newsBlogLinksBtn {
        width: 100%;
        font-size: 12px;
        height: 30px;
        align-items: center;
    }

    .newsBlogSliderArrows {
        display: none;
    }

    .newsBlogMobileLink {
        display: flex;
        margin-top: 20px;
        width: 100%;
        height: 40px;
        font-size: 14px;
        color: var(--color-main-white);
        background-color: var(--color-main-dark);
        align-items: center;
        justify-content: center;
    }

    .newsBlogMobileLink:hover {
        opacity: 0.8;
    }
}

@media (max-width: 650px) {

    .hdrBanner {
        margin: 0 -5px;
    }


    .hdr {
        margin: 0 -5px;
        padding: 0 5px;
        left: 5px;
    }

    .hdrText {
        padding: 0 5px;
    }

    .hdrH1 {
        font-size: 36px;
    }

    .hdrH3 {
        font-size: 18px;
    }

    .hdrBtn {
        width: 100%;
        font-size: 14px;
    }

    .newCollectionH2 {
        display: block;
    }

    .inspirationHdrH2 {
        font-size: 32px;
    }

    .inspirationHdrP {
        font-size: 12px;
        width: auto;
    }

    .newItemsH2 {
        font-size: 32px;
    }

    .newItemsGridTextDivNumb {
        font-size: 16px;
    }

    .newItemsGridTextDivText {
        font-size: 24px;
    }
}

/* * {
    border: 1px solid red;
} */