.hdr {
    overflow: hidden;
    color: var(--color-main-dark);
    padding: 0 40px;
    background-color: var(--color-main-grey-back);
    margin: 0 -40px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.hdr>* {
    display: flex;
    font-size: 14px;
}


.hdr__nav {
    display: flex;
    color: var(--color-main-dark);
    font-size: 16px;
}

.hdr__nav-logo {
    display: flex;
    align-items: center;
    margin-right: 40px;
}

.hdr__nav-list>ul {
    justify-content: baseline;
    gap: 0;
}

.hdr__nav-list-item {
    border: 1px solid var(--color-main-dark);
    padding: 10px 20px;
}

.hdr__nav-list-item:hover {
    background-color: var(--color-main-dark);
    color: var(--color-main-white);
}

.hdr__nav-list-right {
    border-left: none;
}

.hdr__nav-list-middle {
    border-right: none;
    border-left: none;
}

.hdr__nav-list-left {
    border-right: none;
}

.hdr__nav-logo {
    font-size: 24px;
}

.hdr__nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
}


.hdr__nav-menu {
    width: 290px;
    padding: 10px 0;
    border: 1px solid var(--color-main-dark);
    display: flex;
    justify-content: center;
}

.hdr__nav-menu>img {
    margin-left: 10px;
}

.hder__nav-order {
    width: 135px;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    border: 0.5px solid transparent;
    /* обязательно: border-image работает через прозрачную рамку */
    border-image: linear-gradient(to bottom,
            rgba(0, 0, 0, 0.5),
            rgba(216, 119, 50, 1)) 12;
}


.extra_nav {
    margin-top: 50px;
    font-size: 14px;
}

.extra__nav>span {
    opacity: 0.2;
}


.main__headers {
    margin-top: 50px;
    display: flex;
    gap: 55px;
    align-items: center;
}

.main__h1 {
    font-family: var(--font-roboto);
}

.main__h3 {
    font-size: 18px;
    opacity: 50%;
    line-height: 100%;
}

.news__nav {
    margin-top: 55px;
    height: 55px;
    display: flex;
    border: 1px solid var(--color-main-dark);
}

.news__nav-a {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.news__nav-a-first {
    max-width: 135px;
}

.news__nav-a:hover {
    background-color: var(--color-main-dark);
    color: var(--color-main-white);
}

.news__cards {
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px 20px;
}

.news__cards-item-1 {
    background-image: url('../assets/img/newsPage/1.png');
}

.news__cards-item-2 {
    background-image: url('../assets/img/newsPage/2.png');
}

.news__cards-item-3 {
    background-image: url('../assets/img/newsPage/3.png');
}

.news__cards-item-4 {
    background-image: url('../assets/img/newsPage/4.png');
}

.news__cards-item-img {
    background-position: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    height: 445px;
    position: relative;
}

.news__cards-item-img>a {
    position: absolute;
    top: 15px;
    right: 15px;
    font-family: var(--font-roboto);
    font-size: 12px;
    color: var(--color-main-white);
    background-color: var(--color-main-dark);
    width: 120px;
    height: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}


.news__cards-item-img>a>img {
    width: 10px;
    height: 10px;
}

.news__cards-item-info-hdr {
    font-family: var(--font-roboto);
    font-size: 18px;
    margin-top: 17px;
}

.news__cards-item-info-date {
    opacity: 50%;
    font-size: 12px;
    margin-top: 5px;
}

.footer__wrap {
    display: flex;
    justify-content: space-between;
    padding-top: 110px;
}

.footer__links {
    display: flex;
    width: 100%;
    gap: 20%;
}

.footer__links-wrap h4 {
    font-family: var(--font-inter);
    margin-bottom: 20px;
    font-size: 16px;
}

.footer__links-wrap ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 14px;
}

.footer__links-wrap ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer__links-wrap li {
    color: rgba(30, 30, 30, 0.8);
}

.footer__contacts {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 100%;
}

.footer__contacts-wrap {
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
}

.footer__contacts-a {
    width: 290px;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.footer__contacts-order {
    margin-right: 20px;
    border: 1px solid;
}

.footer__contacts-tel {
    background-color: rgba(236, 234, 229, 1);
}

.footer__contacts-wrap-img-mobile {
    display: none;
}

.footer__policy {
    margin-top: 20px;
    padding: 20px 0;
    color: rgba(30, 30, 30, 0.5);
    display: flex;
    border-top: 1px solid rgba(30, 30, 30, 0.5);
}

.footer__policy-wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer__policy p {
    font-size: 12px;
}

@media (max-width: 1920px) {}

@media (max-width: 1650px) {
    .base__container {
        padding: 0 20px;
    }

    .hdr__nav {
        font-size: 14px;
    }

    .extra__nav {
        margin-top: 60px;
    }

    .newCollection__h2 {
        padding-left: 0;
        display: flex;
        justify-content: center;
    }

    .inspiration__hdr {
        justify-content: flex-start;
    }

}

@media (max-width: 1440px) {
    .hdr {
        display: none;
    }

    .extra__nav {
        margin-top: 80px;
    }

    .news__cards {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 50px 20px;
    }
}

@media (max-width: 1250px) {
    .base__container {
        padding: 0 10px;
    }

    .hdr__h1 {
        width: auto;
        font-size: 48px;
    }

    .hdr__h3 {
        font-size: 24px;
        width: auto;
    }

    .footer__links {
        flex-direction: column;
        gap: 40px;
    }

    .footer__contacts {
        height: 100%;
    }

    .footer__contacts-wrap {
        flex-direction: column;
        gap: 10px;
    }

    .footer__contacts-a {
        width: 165px;
    }

    .footer__contacts-wrap-img-mobile {
        display: block;
    }

    .footer__contacts-wrap-img-desc {
        display: none;
    }

}

@media (max-width: 900px) {
    .main__headers {
        flex-direction: column;
        align-items: start;
        margin-top: 40px;
        gap: 10px;
    }

    .news__cards {
        grid-template-columns: 1fr 1fr;
    }

}

@media (max-width: 650px) {

    .base__container {
        padding: 0 5px;
    }

    .hdr__h1 {
        font-size: 36px;
    }

    .hdr__h3 {
        font-size: 18px;
    }

    .hdr__btn {
        width: 100%;
        font-size: 14px;
    }


    .footer__policy-hide {
        display: none;
    }

    .footer__policy-wrap-right {
        justify-content: flex-end;
    }

    .news__cards {
        grid-template-columns: 1fr;
    }

    .news__cards-item-img {
        height: 345px;
    }
}

/* Дебаг обводка */
/* * {
    border: 1px solid red;
} */