.hdr {
    overflow: hidden;
    color: var(--color-main-dark);
    padding: 0 40px;
    background-color: var(--color-main-grey-back);
    margin: 0 -40px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.hdr>* {
    display: flex;
    font-size: 14px;
}


.hdr__nav {
    display: flex;
    color: var(--color-main-dark);
    font-size: 16px;
}

.hdr__nav-logo {
    display: flex;
    align-items: center;
    margin-right: 40px;
}

.hdr__nav-list>ul {
    justify-content: baseline;
    gap: 0;
}

.hdr__nav-list-item {
    border: 1px solid var(--color-main-dark);
    padding: 10px 20px;
}

.hdr__nav-list-item:hover {
    background-color: var(--color-main-dark);
    color: var(--color-main-white);
}

.hdr__nav-list-right {
    border-left: none;
}

.hdr__nav-list-middle {
    border-right: none;
    border-left: none;
}

.hdr__nav-list-left {
    border-right: none;
}

.hdr__nav-logo {
    font-size: 24px;
}

.hdr__nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
}


.hdr__nav-menu {
    width: 290px;
    padding: 10px 0;
    border: 1px solid var(--color-main-dark);
    display: flex;
    justify-content: center;
}

.hdr__nav-menu>img {
    margin-left: 10px;
}

.hder__nav-order {
    width: 135px;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    border: 0.5px solid transparent;
    /* обязательно: border-image работает через прозрачную рамку */
    border-image: linear-gradient(to bottom,
            rgba(0, 0, 0, 0.5),
            rgba(216, 119, 50, 1)) 12;
}




.constructor {
    margin-top: 50px;
    width: 100%;
    padding-top: 10px;
    color: #111;
    font-family: var(--font-inter, Arial, sans-serif);

}


/* верхние фильтры */
.constructor__filters {
    display: grid;
    grid-template-columns: repeat(4, max-content);
    gap: 48px;
    align-items: end;
}

.constructor__filter {
    position: relative;
    border: none;
    background: transparent;
    padding: 0 0 8px 0;
    cursor: pointer;

    display: inline-flex;
    align-items: center;
    gap: 8px;

    font-size: 18px;
    font-weight: 400;
    color: #111;
}

/* линия как на макете */
.constructor__filter::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    height: 1px;
    background: rgba(0, 0, 0, 0.5);
}

.constructor__filter-icon {
    font-size: 12px;
    transform: translateY(1px);
    opacity: .8;
}

/* выбранные фильтры */
.constructor__selected {
    margin-top: 22px;
}

.constructor__selected-title {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
    text-decoration: underline;
    margin-bottom: 10px;
}

/* чипсы */
.constructor__chips {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.chip {
    display: inline-flex;
    align-items: center;
    gap: 10px;

    height: 34px;
    padding: 0 12px 0 8px;

    border: 1px solid rgba(0, 0, 0, 0.35);
    background: #eee;
    color: #111;

    font-size: 14px;
    line-height: 1;
    cursor: pointer;
}

.chip__close {
    width: 16px;
    height: 16px;
    display: grid;
    place-items: center;

    border: 1px solid rgba(0, 0, 0, 0.45);
    font-size: 12px;
    line-height: 1;
    opacity: .8;
}

.chip__text {
    white-space: nowrap;
}

/* вариант с цветным квадратиком */
.chip--color .chip__swatch {
    width: 16px;
    height: 16px;
    background: var(--swatch, #000);
    border: 1px solid rgba(0, 0, 0, 0.4);
    display: inline-block;
}

.cards {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 90px 20px;
}

.cards__card {
    background-image: url('/assets/img/colors/1.png');
    width: 100%;
    height: 550px;
    position: relative;
}

.cards_card_2 {
    background-image: url('/assets/img/colors/2.png');

}

.cards__card-material {
    width: 30%;
    height: 30%;
    background-image: url('/assets/img/catalog/productCards/catalog_card_color.png');
}

.cards__card-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgba(30, 30, 30, 0.2);
    backdrop-filter: blur(12px);
    position: absolute;
    bottom: -30px;
    left: 20px;
    width: calc(100% - 40px);
    font-family: var(--font-roboto);
    color: var(--color-main-white);
}

.cards__card-link>p {
    font-size: 18px;
}

.cards__card-link>img {
    height: 36px;
}

.calculation {
    display: flex;
    background-color: rgba(236, 234, 229, 1);
    margin: 0 -40px;
    margin-top: 110px;
    padding: 0 40px;
}

.calculation>div {
    width: 100%;
}

.calculation__leftWrap {
    display: flex;
    align-items: center;
    justify-content: start;
}

.calculation__leftWrap>h3 {
    font-size: 24px;
    font-family: var(--font-roboto);
}

.calculation__img {
    background-image: url('/assets/img/catalog/calculation.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
}

.calculation__rigthWrap {
    padding: 24px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

.calculation__rigthWrap>a {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 1);
    width: 100%;
    height: 44px;
}

.calculation__rigthWrap-black {
    background-color: var(--color-main-dark);
    color: var(--color-main-white);
}

.footer__wrap {
    display: flex;
    justify-content: space-between;
    padding-top: 110px;
}

.footer__links {
    display: flex;
    width: 100%;
    gap: 20%;
}

.footer__links-wrap h4 {
    font-family: var(--font-inter);
    margin-bottom: 20px;
    font-size: 16px;
}

.footer__links-wrap ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 14px;
}

.footer__links-wrap ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer__links-wrap li {
    color: rgba(30, 30, 30, 0.8);
}

.footer__contacts {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 100%;
}

.footer__contacts-wrap {
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
}

.footer__contacts-a {
    width: 290px;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.footer__contacts-order {
    margin-right: 20px;
    border: 1px solid;
}

.footer__contacts-tel {
    background-color: rgba(236, 234, 229, 1);
}

.footer__contacts-wrap-img-mobile {
    display: none;
}

.footer__policy {
    margin-top: 20px;
    padding: 20px 0;
    color: rgba(30, 30, 30, 0.5);
    display: flex;
    border-top: 1px solid rgba(30, 30, 30, 0.5);
}

.footer__policy-wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer__policy p {
    font-size: 12px;
}

@media (max-width: 1920px) {}

@media (max-width: 1650px) {
    .base__container {
        padding: 0 20px;
    }

    .hdr__nav {
        font-size: 14px;
    }


    .newCollection__h2 {
        padding-left: 0;
        display: flex;
        justify-content: center;
    }

    .inspiration__hdr {
        justify-content: flex-start;
    }

}


@media (max-width: 1250px) {
    .base__container {
        padding: 0 10px;
    }

    .hdr__h1 {
        width: auto;
        font-size: 48px;
    }

    .hdr__h3 {
        font-size: 24px;
        width: auto;
    }

    .footer__links {
        flex-direction: column;
        gap: 40px;
    }

    .footer__contacts {
        height: 100%;
    }

    .footer__contacts-wrap {
        flex-direction: column;
        gap: 10px;
    }

    .footer__contacts-a {
        width: 165px;
    }

    .footer__contacts-wrap-img-mobile {
        display: block;
    }

    .footer__contacts-wrap-img-desc {
        display: none;
    }


    .cards {
        grid-template-columns: 1fr 1fr;
    }

    .cards__card {
        height: 450px;
    }

    .calculation_br {
        display: none;
    }
}

@media (max-width: 900px) {

    .cards__card {
        height: 350px;
    }

    .calculation {
        flex-direction: column;
        gap: 25px;
        padding: 70px 10px;
        margin: 0 -10px;
        margin-top: 110px;
    }


    .calculation__img {
        height: 270px;
    }

    .calculation__rigthWrap {
        padding: 0;
    }
}



@media (max-width: 650px) {

    .base__container {
        padding: 0 5px;
    }

    .hdr__h1 {
        font-size: 36px;
    }

    .hdr__h3 {
        font-size: 18px;
    }

    .hdr__btn {
        width: 100%;
        font-size: 14px;
    }

    .constructor__filters {
        display: none;
    }

    .footer__policy-hide {
        display: none;
    }

    .footer__policy-wrap-right {
        justify-content: flex-end;
    }

    .calculation {
        margin: 0 -5px;
        padding: 70px 5px;
        margin-top: 110px;
    }

    .cards__card {
        height: 240px;
        background-position: center;
        background-size: auto 100%;
        background-repeat: no-repeat;
    }

    .cards__card-material {
        width: 65px;
        height: 55px;
    }

    .cards__card-link {
        padding: 3px 10px;
        width: 100%;
        left: 0;
        bottom: 0;
    }

    .cards__card-link>p {
        font-size: 14px;
    }

    .cards__card-link>img {
        height: 20px;
    }
}

/* Дебаг обводка */
/* * {
    border: 1px solid red;
} */