:root {
  /* --------------------
     Цвета
  -------------------- */
  --color-main-white: rgba(255, 255, 255, 1);   /* основной золотой */
  --color-main-dark: rgba(30, 30, 30, 1);
  --color-main-grey: rgba(134, 134, 134, 1);
  --color-main-grey-blocked: rgba(30, 30, 30, 0.2);
  --color-main-grey-back: rgba(30, 30, 30, 0.1);
  /* --------------------
     Шрифты
     Roboto + Inter
  -------------------- */
  --font-roboto: "Roboto Serif", serif;
  --font-inter: "Inter Tight", sans-serif;
}
